# Pytorch

--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchvision
torchaudio

# StableDiffusion
diffusers
transformers
accelerate
peft

# Jupyter Notebooks
ipython
ipywidgets

# CLIP
